.map {
  margin-left: -20px;
  margin-top: -50px;
  height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .map { width: 100vw; }

  .leaflet-control-container>div:first-child { top: 50px; }
}

@media only screen and (min-width: 1024px) {
  .map { width: calc(100vw - 240px); }
}

.leaflet-popup-content {
  min-width: 230px;
}

.leaflet-popup-content img {
  float: left;
  max-width: 100px;
  max-height: 100px;
  padding: 0 10px 10px 0;
}