h2 The Introvertebrates
p The Introvertebrates are a team of five software developers:  Darrian, Matt, Mike, Nick and Fraz And one Zoo Biologist, Savannah.  Formed in 2017 to take part in the NASA Space Apps Challenge 2017, we created TrackWild for the ‘Migratory Travel and Travel Stories’ task – to enable people to track, identify and conserve migratory species in their area. We’ve had such a good time taking part in this event and we hope you have enjoy the results.
h4 Meet The Team

.mdl-grid
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col.sav-card.about-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      | Sav

  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col.hitch-card.about-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      | Darrian

  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col.bmg-card.about-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      | Mike

  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col.matt-card.about-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      | Matt
  
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col.fraz-card.about-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      | Fraz
  
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col.nick-card.about-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      | Nick