h4 Upload Sighting
form
  .row
  
    h6 Enter Coordinates 
    div.spinner {{loadingError}}
    spinner(name='geoSpinner', img-src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/10607/spinner3.gif' show='loading') Attempting geolocation...

    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      input#lat.mdl-textfield__input(ng-model="lat", type='text')
      |  
      label.mdl-textfield__label(for='lat') lat
  .row
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      input#long.mdl-textfield__input(ng-model="long", type='text', value=)
      |  
      label.mdl-textfield__label(for='long') long
  .row
    h6 Add a comment
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      textarea#comment.mdl-textfield__input(type='text', rows='3')
      |  
      label.mdl-textfield__label(for='comment') Comment

  .row
   input(type='file',accept='image/*',ng-change='picChange(event)')
    |p
    | Photo:
    canvas#capturedPhoto(width='500', height='400')
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(style='background-color: #297c45;') Upload Data
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(style='background-color: #297c45; margin-left: 4px;') Upload Image

