h4 Leaderboard
p Tweet more to rise up the leaderboard! Make sure you enable geolocation to get onto the map.

p To encourage more wildlife into your area, read more about different #[a(href="/species") species] and how to improve their habitats.

table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  thead
    tr
      th.mdl-data-table__cell--non-numeric User
      th Sightings
  tbody 
    tr(ng-repeat="user in users | orderBy : 'doc_count' : true", ng-if="user.name")
      td.mdl-data-table__cell--non-numeric
        a(href="https://twitter.com/intent/user?user_id={{ user.key }}") {{ user.name }}
      td {{ user.doc_count }}