h4 Species Information
p Here you can find detailed information about a number of species including their habitats, known migration paths and how you can help!

.mdl-grid
  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--3-col.swallow-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect.species-name(ui-sref='speciesdetail({name:"swallow"})') Barn Swallow

  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--3-col.bear-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect.species-name(ui-sref='speciesdetail({name:"polarbear"})') Polar Bear

  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--3-col.turtle-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect.species-name(ui-sref='speciesdetail({name:"hawksbill"})') Hawksbill Turtle

  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--3-col.elk-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect.species-name(ui-sref='speciesdetail({name:"elk"})') North American Elk

  .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--3-col.new-card
    .mdl-card__title.mdl-card--expand
    .mdl-card__actions
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect.species-name(ui-sref='speciesdetail({name:"new"})') More to come...